---
layout: page
title: Andre Meets Data!
tagline: An attempt at creating an interface between Data and Humanity
---
{% include JB/setup %}

<!--{% for post in site.posts %}
<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
{% endfor %}-->

<h1>Latest Post</h1>
{% for post in site.posts limit:1 %}
    <a href="{{ post.url }}">
        <h3>{{ post.title }}</h3>
    </a>
    <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
    <div>{{ post.content |truncatehtml | truncatewords: 60 }}</div>
{% endfor %}
<h2>Recent Posts</h2>
{% for post in site.posts offset:1 limit:2 %}
    <a href="{{ post.url }}">
        <h5>{{ post.title }}</h5>
    </a>
    <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
    <div>{{ post.content |truncatehtml | truncatewords: 60 }}</div>
{% endfor %}

<h4>Recent Posts</h4>
<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
